img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    background-color: #f9f2c7;
    box-shadow: 2px 2px #fedd00;
}
.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.grid {
    max-width: 100vw;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin: 20px 0;
    position: sticky;
}

.wrapper {
    overflow: scroll;
}

.scene {
    overflow: scroll;
}

.hero-layer {
    pointer-events: none;
}

.layer[data-depth = "0.2"] {
    pointer-events: none;
}

.contact{
    display: flex;
    justify-content: center;
}

.memories {
    padding: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
    background-color: rgba(255, 249, 206, 0.8);
    width: max-content;
}

