/* =Loader
-------------------------------------------------------------- */

.preloader {
	display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    text-align: center;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress {
	display: block;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100px;
	height: 3px;
	left: -102px;
	background-color: #fedd00;
	-webkit-animation: loader-anim 1s 0s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-animation: loader-anim 1s 0s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation: loader-anim 1s 0s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86)
}

@-webkit-keyframes loader-anim {
    0% {
        left: -102px
    }

    100% {
        left: 102px
    }
}

@-moz-keyframes loader-anim {
    0% {
        left: -102px
    }

    100% {
        left: 102px
    }
}

@keyframes loader-anim {
    0% {
        left: -102px
    }

    100% {
        left: 102px
    }
}